* { 
    background-color: #ECEFF1;
    font-family: Arial, Helvetica, sans-serif;

}

#fContainer {
    display: inline-flex;
}

#bgimage {
    position: relative;
    margin: 0px;
    top: 0px;
}

h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}
#flexContainer {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #42495b;
}

a {
    background-image: linear-gradient(to right, #1a129f , #5248e6);
    color: #ffffff;
    font-size: 16px;
    border-radius: 1em;
    padding: 0.6em;
    line-height: 1.2em;
    text-decoration: none;
    padding: 0.8em 4em;
}